<script>
    function checkOnly(chk){

        var obj = document.getElementsByName("checkResult");

        for(var i=0; i<obj.length; i++){
            if(obj[i] != chk){
                obj[i].checked = false;
            }
        }
    }
</script>